<%-include ("../Include/admin_head.ejs")%>
    <%-include ("../Include/admin_header.ejs")%>

        <div class="app-wrapper">

            <div class="app-content pt-3 p-md-3 p-lg-4">
                <div class="container-xl">

                    <h1 class="app-page-title">Report Data</h1>
                    <div class="row g-4 mb-4">
                        <div class="col-12 col-lg-6">
                            <div class="app-card app-card-chart h-100 shadow-sm">
                                <div class="app-card-header p-3 border-0">
                                    <h4 class="app-card-title">Registered Student</h4>
                                </div>
                                <!--//app-card-header-->
                                <div class="app-card-body p-4">
                                    <div class="chart-container">
                                        <div class="chartjs-size-monitor">
                                            <div class="chartjs-size-monitor-expand">
                                                <div class=""></div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink">
                                                <div class=""></div>
                                            </div>
                                        </div>
                                        <canvas id="studentCourse" style="width:100%;max-width:700px"></canvas>
                                    </div>
                                </div>
                                <!--//app-card-body-->
                            </div>
                            <!--//app-card-->
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="app-card app-card-chart h-100 shadow-sm">
                                <div class="app-card-header p-3 border-0">
                                    <h4 class="app-card-title">Overall Gatepass Registered</h4>
                                </div>
                                <!--//app-card-header-->
                                <div class="app-card-body p-4">
                                    <div class="chart-container">
                                        <div class="chartjs-size-monitor">
                                            <div class="chartjs-size-monitor-expand">
                                                <div class=""></div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink">
                                                <div class=""></div>
                                            </div>
                                        </div>
                                        <canvas id="totalGatepass" style="width:100%;max-width:700px"></canvas>
                                    </div>
                                </div>
                                <!--//app-card-body-->
                            </div>
                        </div>

                    </div>
                    <h2 class="app-page-title">Student Data</h2>
                    <div class="app-card app-card-orders-table shadow-sm mb-5 p-3">

                        <div class="app-card-body">

                            <div class="table-responsive">

                                <table id="studentReport" class="table app-table-hover" style="width:100%">
                                    <thead>
                                        <tr>

                                            <th class="cell">Student No.</th>
                                            <th class="cell">First Name</th>
                                            <th class="cell">Last Name</th>
                                            <th class="cell">Gender</th>
                                            <th class="cell">DOB</th>
                                            <th class="cell">Course</th>
                                            <th class="cell">Year</th>
                                            <th class="cell">Section</th>
                                            <th class="cell">Address</th>
                                            <th class="cell">Email</th>
                                            <th class="cell">Phone number</th>
                                            <th class="cell">Join Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <%students.forEach((student)=> {%>

                                            <tr>

                                                <td class="cell">
                                                    <%=student.studentnumber%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.firstname%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.lastname%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.gender%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.dob%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.course%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.year%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.section%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.address%>
                                                </td>

                                                <td class="cell">
                                                    <%=student.email%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.phonenumber%>
                                                </td>
                                                <td class="cell">
                                                    <%=student.join_date%>
                                                </td>



                                            </tr>
                                            <%})%>
                                    </tbody>

                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <h1 class="app-page-title">Gatepass</h1>
                    <div class="app-card app-card-orders-table shadow-sm mb-5 p-3">

                        <div class="app-card-body">

                            <div class="table-responsive">

                                <table id="gatepassReport" class="table app-table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="cell">Gatepass Ref.</th>
                                            <th class="cell">Submit Date</th>
                                            <th class="cell">Modified Date</th>
                                            <th class="cell">Student Number</th>
                                            <th class="cell">Status</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <%gatepass.forEach((gatepass)=> {%>

                                            <tr>
                                                <td class="cell">
                                                    <%=gatepass.gatepass_ref%>
                                                </td>
                                              
                                                <td class="cell">
                                                    <%=gatepass.submit_date%>
                                                </td>
                                                <td class="cell">
                                                    <%=gatepass.modified_date%>
                                                </td>
                                              
                                        
                                                <td class="cell">
                                                    <%=gatepass.studentnumber%>
                                                </td>
                                                <td class="cell">
                                                    <%=gatepass.status%>
                                                </td>
                                                
                                                <%})%>
                                    </tbody>

                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                </div>

            </div>
        </div>

        <script>
            window.chartColors = {
                green: '#75c181',
                gray: '#a9b5c9',
                text: '#252930',
                border: '#e7e9ed',
                red: "#dc3545",
                yellow: "#ffc107",
            };
            new Chart("studentCourse", {
                type: 'bar',
                data: {
                    labels: ['BAT', 'CADT', 'CMPT', 'ELTR', 'EXTR', 'FPSM', 'GT'],
                    datasets: [{
                        label: 'Numbers',

                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        borderWidth: 1,
                        maxBarThickness: 16,

                        data: [
                            '<%-registeredBAT%>',
                            '<%-registeredCADT%>',
                            '<%-registeredCMPT%>',
                            '<%-registeredELTR%>',
                            '<%-registeredEXTR%>',
                            '<%-registeredFPSM%>',
                            '<%-registeredGT%>',
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    aspectRatio: 1.5,
                    legend: {
                        position: 'bottom',
                        align: 'end',
                    },

                    tooltips: {
                        mode: 'index',
                        intersect: false,
                        titleMarginBottom: 10,
                        bodySpacing: 10,
                        xPadding: 16,
                        yPadding: 16,
                        borderColor: window.chartColors.border,
                        borderWidth: 1,
                        backgroundColor: '#fff',
                        bodyFontColor: window.chartColors.text,
                        titleFontColor: window.chartColors.text,

                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            gridLines: {
                                drawBorder: false,
                                color: window.chartColors.border,
                            },

                        }],
                        yAxes: [{
                            display: true,
                            gridLines: {
                                drawBorder: false,
                                color: window.chartColors.borders,
                            },


                        }]
                    }

                }
            });

            new Chart("totalGatepass", {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [
                            '<%-totalApproved%>',
                            '<%-totalReject%>',
                        ],
                        backgroundColor: [
                            window.chartColors.green,
                            window.chartColors.red,


                        ],
                        label: 'Dataset 1'
                    }],
                    labels: [
                        'Approved',
                        'Reject',

                    ]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: true,
                        position: 'bottom',
                        align: 'center',
                    },

                    tooltips: {
                        titleMarginBottom: 10,
                        bodySpacing: 10,
                        xPadding: 16,
                        yPadding: 16,
                        borderColor: window.chartColors.border,
                        borderWidth: 1,
                        backgroundColor: '#fff',
                        bodyFontColor: window.chartColors.text,
                        titleFontColor: window.chartColors.text,

                        /* Display % in tooltip - https://stackoverflow.com/questions/37257034/chart-js-2-0-doughnut-tooltip-percentages */


                    },
                }
            });
        </script>

        <!--//app-content-->
        <%-include ("../Include/admin_end.ejs")%>