<%-include ("../Include/main_head.ejs")%>
    <%-include ("../Include/main_header.ejs")%>
        <main id="main">
            <div class="container-lg">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 p-0">
                        <div class="form-container bg-white px-4 py-1 mt-2">
                            <h4 class="mb-0 mt-lg-4 mt-md-4 mt-sm-4">Faculty Login</h4>
                            <p class="text-muted">To continue, log in to the app.</p>
                            <%-include ("../Include/message.ejs")%>
                            <form method="post" class="needs-validation" novalidate>
                                <div class="form-group">
                                    <div class="form-floating mt-3 mb-3">
                                        <input type="text" class="form-control" placeholder="Username"
                                            name="studentnumber" required autofocus>
                                        <label for="studentNumber">Username</label>
                                        <div class="invalid-feedback">
                                            Username is required
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" placeholder="Password"
                                            name="password" required>
                                        <label for="password">Password</label>
                                        <div class="invalid-feedback">
                                            Password is required
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-success w-100" id="btn-login">
                                        Login</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%-include ("../Include/main_footer.ejs")%>
        <%-include ("../Include/main_end.ejs")%>