<%-include ("../Include/student_head.ejs")%>
    <%-include ("../Include/student_header.ejs")%>
        <!-- Main -->
        <main id="main">
            <div class="container-lg">
                <div class="page-header pt-4">
                    <div class="row mb-md-1">
                        <div class="col-12 col-lg-10 text-start">
                            <h2 class="fw-bold">Health Monitoring Checklist</h2>
                            <p class="">Fillout your latest health information</p>
                        </div>
                    </div>
                </div>
                <div class="page-content my-4">
                    <%if (submitted === true) {%>
                        
                        <div class="card" style="max-width: 550px;">
                            <div class="card-body">
                                <img src="/img/check.png" alt="" width="80px"
										class="d-block mx-auto mb-2">
                                <h5 class="card-title">Your health details was successfully submitted.</h5>
                                <h6 class="text-muted mb-0">Gatepass ID: <%=data[0].gatepass_id%></h6>
                                <h6 class="text-muted">Date Submitted: <%=data[0].submit_date%></h6>
                                <p class="card-text">Please wait while we are processing your request...</p>
                                <a href="/student/dashboard" class="card-link btn btn-secondary btn-sm">Return to dashboard</a>
    
                            </div>
                        </div>
                        
                    <%} else {%>
                        <form method="post" class=" needs-validation" novalidate>
                            <!-- Symptoms -->
                            <h5 class="mt-3 fw-bold">Symptoms</h5>
                            <section id="symptoms" class="mb-4 shadow-sm p-3 bg-body rounded border">
                                <table class="table table-bordered">
                                    <tbody>
                                        <thead class="table-secondary">
                                            <th>
                                                &nbsp;
                                            </th>
                                            <th scope="col" class="text-center">
                                                <label class="table-label">YES</label>
                                            </th>
                                            <th scope="col" class="text-center">
                                                <label class="table-label">NO</label>
                                            </th>
                                        </thead>
                                        <tr>
                                            <th scope="row">
                                                <label id="label_fever">Fever</label>
                                            </th>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="fever"
                                                    value="Yes" required>
                                                <label>
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="fever" value="No"
                                                    required>
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th scope="row">
                                                <label id="label_cough">Cough</label>
                                            </th>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="cough"
                                                    value="Yes" required>
                                                <label>
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="cough" value="No"
                                                    required>
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th scope="row">
                                                <label id="label_cold">Cold</label>
                                            </th>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="cold" value="Yes"
                                                    required>
                                                <label>
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="cold" value="No"
                                                    required>
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th scope="row">
                                                <label id="label_no_sense_smell">No Sense of Smell</label>
                                            </th>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="no_sense_smell"
                                                    value="Yes" required>
                                                <label>
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="no_sense_smell"
                                                    value="No" required>
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th scope="row">
                                                <label id="label_diarrhea">Diarrhea</label>
                                            </th>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="diarrhea"
                                                    value="Yes" required>
                                                <label>
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="diarrhea"
                                                    value="No" required>
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th scope="row">
                                                <label id="label_sore_throat">Sore Throat</label>
                                            </th>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="sore_throat"
                                                    value="Yes" required>
                                                <label>
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="sore_throat"
                                                    value="No" required>
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th scope="row">
                                                <label id="label_difficult_breath">Difficulty of Breathing</label>
                                            </th>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="difficult_breath"
                                                    value="Yes" required>
                                                <label>
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input" name="difficult_breath"
                                                    value="No" required>
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th scope="row">
                                                <label id="label_muscle_joint_pain">Muscle & Joint Pain
                                                </label>
                                            </th>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input"
                                                    name="muscle_joint_pain" value="Yes" required>
                                                <label>
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" class="form-check-input"
                                                    name="muscle_joint_pain" value="No" required>
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                            <!-- End Symptoms -->
                            <!-- Exposure -->
                            <h5 class="mt-3 fw-bold">Exposure</h5>
                            <section id="exposure" class="mb-4 p-3 bg-body rounded border">
                                <div class="card mx-auto  mb-3" style="max-width: 100%;">
    
                                    <div class="card-body">
    
                                        <p class="card-text">HISTORY OF TRAVEL/VISIT FROM ANY PLACE OUTSIDE
                                            ILOCOS NORTE?</p>
    
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-check form-check-inline me-4">
                                            <input class="form-check-input" type="radio" name="travel_history"
                                                id="travel_historyYes" value="YES" required>
                                            <label class="form-check-label" for="travel_historyYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="travel_history"
                                                id="travel_historyNo" value="NO" required>
                                            <label class="form-check-label" for="travel_historyNo">
                                                No
                                            </label>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="card mx-auto mb-3" style="max-width: 100%;">
    
                                    <div class="card-body">
    
                                        <p class="card-text">VISITORS/RELATIVES THAT COME FROM OTHER PLACE?</p>
    
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-check form-check-inline me-4">
                                            <input class="form-check-input" type="radio" name="visit_other_place"
                                                id="visit_other_placeYes" required>
                                            <label class="form-check-label" for="visit_other_placeYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="visit_other_place"
                                                id="visit_other_placeNo" value="NO" required>
                                            <label class="form-check-label" for="visit_other_placeNo">
                                                No
                                            </label>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="card mx-auto mb-3" style="max-width: 100%;">
    
                                    <div class="card-body">
    
                                        <p class="card-text">EXPOSURE TO ANYONE WITH SYMPTOMS OF FEVER, COUGH, cold
                                            OR DIARRHEA IN YOUR HOME, WORK, SCHOOL, OR ANY GATHERINGS
                                            (BITHDAY, WAKES, FIESTA, ETC.)?</p>
    
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-check form-check-inline me-4">
                                            <input class="form-check-input" type="radio" name="exposure_anyone"
                                                id="exposure_anyoneYes" value="YES" required>
                                            <label class="form-check-label" for="exposure_anyoneYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exposure_anyone"
                                                id="exposure_anyoneNo" value="NO" required>
                                            <label class="form-check-label" for="exposure_anyoneNo">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mx-auto mb-3" style="max-width: 100%;">
    
                                    <div class="card-body">
    
                                        <p class="card-text">TAKING CARE OF RELATIVE/PATIENT AT HOME WITH SYMPTOMS
                                            OF
                                            FEVER, COUGH, cold OR DIARRHEA?</p>
    
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-check form-check-inline me-4">
                                            <input class="form-check-input" type="radio" name="takecare_people"
                                                id="takecare_peopleYes" value="YES" required>
                                            <label class="form-check-label" for="takecare_peopleYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="takecare_people"
                                                id="takecare_peopleNo" value="NO" required>
                                            <label class="form-check-label" for="takecare_peopleNo">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mx-auto mb-3" style="max-width: 100%;">
    
                                    <div class="card-body">
    
                                        <p class="card-text">VISITED/MONITORED BY BARANGAY HEALTH WORKERS/OFFICIALS?
                                        </p>
    
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-check form-check-inline me-4">
                                            <input class="form-check-input" type="radio" name="monitor_by_personnel"
                                                id="monitor_by_personnelYes" value="YES" required>
                                            <label class="form-check-label" for="monitor_by_personnelYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="monitor_by_personnel"
                                                id="monitor_by_personnelNo" value="NO" required>
                                            <label class="form-check-label" for="monitor_by_personnelNo">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                            </section>
                            <!-- End Exposure -->
                            <h5 class="mt-3 fw-bold">Agreement</h5>
                            <section class="mb-4 p-3 bg-body rounded border">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck"
                                        required>
                                    <label class="form-check-label" for="invalidCheck">
    
                                        I declare that all my responses are true and accurate to the best of my
                                        knowledge. I
                                        understand that any false information will be subject to legal actions.
                                    </label>
    
                                </div>
                            </section>
    
                            <div class="row">
                                <div class="col col-lg-2 col-md-4 col-sm-5"> <button type="submit"
                                        class="btn btn-primary w-100 mb-5">Submit</button></div>
                            </div>
                        </form>
                    <%}%>
                </div>

            </div>


        </main>

        <%-include ("../Include/student_end.ejs")%>