<%-include ("../Include/student_head.ejs")%>
    <%-include ("../Include/student_header.ejs")%>
        <!-- Main -->
        <main id="main">
            <div class="container-lg">
             
                <div class="page-header pt-4">
                    <div class="row mb-md-1">
                        <div class="col-12 col-lg-10 text-start">
                            <h2 class="fw-bold">My Profile Account</h2>
                            <p class="">
                                Edit your profile information
                            </p>
                        </div>

                    </div>
                </div>
                <div class="page-content mt-1 mb-4">
                    <%-include ("../Include/message.ejs")%>
                    <div class="row px-0 py-3">
                        <div class="col col-lg-2 col-md-3 col-sm-1 me-2">
                            <img src="/img/avatar/<%=student.avatar%>" alt="" class="mb-2" id="img-profile" height="175px"
                                width="175px">
                        </div>
                        <div class="col col-lg-4 col-md-4 col-sm-6">
                            <h5 class="mb-1"><%=student.lastname%>, <%=student.firstname%></h5>
                            <p class="mb-0"><%=student.studentnumber%></p>
                            <p class="mb-0"><%=student.email%></p>
                            <%if(student.is_verified === 1) {%>
                                <span class="badge bg-primary">Verified Student</span>
                            <%} else {%>
                                <span class="badge bg-danger">Unverified Student</span>
                            <%}%>
                            <div class="text-muted"><small>Joined <%=student.join_date%></small></div>
                            <a href="/student/profile/edit_avatar/" class="card-link btn btn-success btn-sm mt-3">Change Avatar</a>
                            <a href="/student/profile/edit_information/" class="card-link btn btn-outline-secondary btn-sm mt-3">Edit Profile</a>
                            <a href="/student/profile/update_password/" class="card-link btn btn-outline-secondary btn-sm mt-3">Update Password</a>
                        </div>
                    </div>
                    
                    <nav>
                        <div class="nav nav-tabs " id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile-tab"
                                aria-selected="true">Profile</button>
                            <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled"
                                aria-selected="false">Course</button>
                            
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                aria-selected="false">Contact</button>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- Profile Information Tab -->
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
                            aria-labelledby="nav-profile-tab" tabindex="0">
                            <section id="personalInformation" class="p-2">
                                <h3 class="py-2">Personal Information</h3>
                                <div class="mt-1">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <th><strong>Student No.</strong></th>
                                                <td><%=student.studentnumber%></td>
                                            </tr>
                                            <tr>
                                                <th><strong>First Name</strong></th>
                                                <td><%=student.firstname%></td>
                                            </tr>
                                            <tr>
                                                <th><strong>Last Name</strong></th>
                                                <td><%=student.lastname%></td>
                                            </tr>
                                            <tr>
                                                <th><strong>Date of Birth</strong></th>
                                                <td><%=student.dob%></td>
                                            </tr>
                                        
                                            <tr>
                                                <th><strong>Gender</strong></th>
                                                <td><%=student.gender%></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab"
                            tabindex="0">
                            <section id="personalInformation" class="p-2">
                                <h3 class="py-2">Course</h3>
                                <div class="mt-1">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <th><strong>Course</strong></th>
                                                <%course.forEach((courses) => {%>
                                                   <%if (courses.course_id === student.course) {%>
                                                        <td><%=courses.course_name%></td>
                                                    <%}%>
                                                <%})%>
                                            </tr>
                                        
                                            <tr>
                                                <th><strong>Year</strong></th>
                                                <td><%=student.year%></td>
                                            </tr>
                                            <tr>
                                                <th><strong>Section</strong></th>
                                                <td><%=student.section%></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                        <!-- Health Information Tab -->
                       
                        <!-- Contac Informaion Tab -->
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                            tabindex="0">
                            <section id="personalInformation" class="p-2">
                                <h3 class="py-2">Contact Information</h3>
                                <div class="mt-1">
                                    <table class="table table-borderless table-sm">
                                        <tbody>
                                            <tr>
                                                <th><strong>Address</strong></th>
                                                <td><%=student.address%></td>
                                            </tr>
                                            <tr>
                                                <th><strong>Contact Number</strong></th>
                                                <td><%=student.phonenumber%></td>
                                            </tr>
                                            <tr>
                                                <th><strong>Email Address</strong></th>
                                                <td>no<%=student.email%></td>
                                            </tr>
                                      
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>

                    </div>


                </div>
            </div>
            </div>
        </main>
        <%-include ("../Include/student_end.ejs")%>